<!DOCTYPE html>
<html lang="pt-br">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio Rick</title>
    <link rel="stylesheet" href="../styles/style.main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head >
<body >
    <header>
        <nav class="navigation" data-anime="left">
            <ul class="list">
                <li>
                    <a href="./index.html">Home</a>
                    <a href="#projetos">Projetos</a>
                    <a href="#contact">Contato</a>
                </li>
            </ul>
        </nav>
    </header>
    <main >
        <section class="apresentacao " data-anime="left">
            <div class="introducao">
                <h1>Seja bem vindo</h1>
                <div class="introducao-texto">
                    <p>Me chamo Rick Bryan, Sempre fui apaixonado pela 
                área de tecnologia ,Estou cada vez mais me aperfeiçoando nas
                tecnologias necessarias para Construir Sistemas complexos
                </p></div>
                <a href="#contact"class="btn-home"><button >Fale comigo</button></a> 
                </div>
                <div class="img-perfil">
                    <img src="../styles/207077742_1155409681608350_8579334814534511881_n (5).jpg" >
            </div>
        </section>
    </main>
        <section id="projetos"class="projetos" data-anime="left">
                <h1 class="titulo-projeto">Projetos</h1>
                <div class="cards">
                        <div class="card"><img src="../styles/img/foto projeto faculdade.png">
                            <div class="open-project">
                                <div class="text-project">
                                    <p >Lorem ipsum dolor sit amet consectetur adipisicing 
                                        elit. Optio molestiae mollitia architecto praesentium
                                        sapiente nihil iusto sequi enim ipsum natus libero, 
                                        deserunt quisquam nisi, fuga esse tenetur doloribus voluptate? 
                                        Sapiente!</p>
                                </div>
                                <a class="link-project"><button>Montador treino</button></a>
                            </div>    
                        </div>
                        <div class="card"><img src="../styles/img/Untitled (1).png">
                            <div class="open-project">
                                <div class="text-project">
                                    <p >Lorem ipsum dolor sit amet consectetur adipisicing 
                                        elit. Optio molestiae mollitia architecto praesentium
                                        sapiente nihil iusto sequi enim ipsum natus libero, 
                                        deserunt quisquam nisi, fuga esse tenetur doloribus voluptate? 
                                        Sapiente!</p>
                                </div>
                                <a class="link-project" href="https://rick-bryan.github.io/ProjetoUnamaAds/"><button>Projeto Faculdade</button></a>
                            </div>
                        </div>
                        <div class="card"><img src="../styles/img/Untitled.png">
                            <div class="open-project">
                                <div class="text-project">
                                    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio molestiae mollitia architecto praesentium sapiente nihil iusto sequi enim ipsum natus libero, deserunt quisquam nisi, fuga esse tenetur doloribus voluptate? Sapiente!</p>
                                </div>
                                <a class="link-project" href="https://projetotreino.netlify.app"><button>Montador treino</button></a>
                        
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    
    <footer  class="contact" data-anime="left">
        <div class="contact-imgs">       
        <img src='../styles/img/DrawKit Vector Illustration Project Manager (5).png'></div>
        <section class="contact-container">
            <div class="contact-title"><h1>Fale comigo</h1></div>    
                <form action="mailto:rickbryanbatistalima@gmail.com"method="POST" class="contact-form" enctype="text/plain">
                    <div class="contact-input">
                        <label for="nome">Nome</label>
                        <input name='Nome ' id='nome'type="text" placeholder="Digite seu nome" required>
                        <label for="email">E-mail</label>
                        <input name='Email ' id='email' type="email" placeholder="Digite seu e-mail" required>
                        <label for="contact-msg">Mensagem</label>
                        <input name="Mensagem " class="contact-msg" id="contact-msg" type="text" placeholder="Digite sua mensagem" required>
                        <a class="contact-button"><button>Enviar</button></a>
                    </div>
                </form>
            </div>
            <h1 id='contact'>contatos</h1>
            <div class="contact-redes">
            <a href="https://www.linkedin.com/in/rick-bryan-716b3b218/" target="_blank"><img src="../styles/img/linkedin.png"></a>
            <a href="https://github.com/Rick-Bryan" target="_blank"><img src="../styles/img/placa-do-github.png"></a>
            <a href="https://web.whatsapp.com/send?phone=5591986067998" target="_blank"><img src="../styles/img/whatsapp.png"></a>
            <a href="https://www.facebook.com/rick.bryan.75873" target="_blank"><img src="../styles/img/facebook.png"></a>    
            </div>
        </section>

    </footer>
    <script src='../script.js'></script>
</body>
</html>
